<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row banner">
        <div class="col-6 title-banner">
            <h1 class="display-4 ">Tienes una <br /><span class="txt-color ml-5">indea nueva?_</span></h1>
            <p class="parrafo ml-5">Organización y trabajo en <bR>equipo surge la magia_</p>
            <div>
                <a class="miBoton" [routerLink]="['../contacto']" >Saber mas</a>
            </div>
        </div>
        <div class="col-6 banner-cont-img">
            <img class="banner-img" src="{{ imgBanner }}">
        </div>
    </div>
</div>

<div class="newDesc animate__animated animate__fadeIn">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h3 class="display-7 my-4">No te quedes fuera <span class="txt-color">la nueva era_</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Hoy en día todo mundo tiene presencia en internet <br> y tu no puedes quedarte fuera</p>
                <img class="newDescImg" src="{{ imgNewDesc }}" alt="imagen representativa" />
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12 text-center">
            <h4><span class="txt-color" >¿Que servicios</span> podemos ofrecer?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="cartaDeServicio">
                <div class="seccion1 text-center">
                    <img class="imgCard" src="{{ cardPaginaweb }}" />
                </div>
                <div class="seccion2 text-center">
                    <h4>Página <span class="txt-color">web</span></h4>
                    <p class="text-justify">Hoy en la actuldad todo mundo 
                        quier promocionar su negocio o simplemente
                        dar a conocer sus pasatiempos y para ello
                        tiene el uso de una pagina web donde solo
                        mostrara la informacion necesaria</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <div class="cartaDeServicio">
                <div class="seccion2 text-center">
                    <h4>Aplicación <span class="txt-color">web</span></h4>
                    <p class="text-justify">Hoy en la actuldad todo mundo 
                        quier promocionar su negocio o simplemente
                        dar a conocer sus pasatiempos y para ello
                        tiene el uso de una pagina web donde solo
                        mostrara la informacion necesaria</p>
                </div>
                <div class="seccion1 text-center">
                    <img class="imgCard" src="{{ appWeb }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12">
            <div class="cartaDeServicio">
                <div class="seccion1 text-center">
                    <img class="imgCard" src="{{ appMovil }}" />
                </div>
                <div class="seccion2 text-center">
                    <h4>Aplicación <span class="txt-color">móvil</span> <br><span class="txtGary">próximamente</span></h4>
                    <p class="text-justify">Hoy en la actuldad todo mundo 
                        quier promocionar su negocio o simplemente
                        dar a conocer sus pasatiempos y para ello
                        tiene el uso de una pagina web donde solo
                        mostrara la informacion necesaria</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Dejanos ayudarte,<br>
                <span class="txt-color ml-5">no lo pienes mas_</span></h5>
        </div>
    </div>

</div>
