<div class="container animate__animated animate__fadeIn">
    <div class="row mt-5">

        <div class="col-12 text-center">
            <h3>Consuminedo un servicio REST</h3>
        </div>

        <div class="col-12 text-center">
            <small>Como nota de este apartado primero será un apartado de sevicios o cursos que podran hacer el famoso CRUD, la descripcion pequeña debe tener maximo 156 caracteres</small>
        </div>

    </div>


    <div class="row">
            
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="contCard">
                <div class="superior">
                    <img alt="Imagen de prueba" src="https://i.blogs.es/5fb48a/webapps/450_1000.jpg" class="imgCard" />
                </div>
                <div class="inferior">
                    <div class="title text-center">
                        <h5>Titulo</h5>
                    </div>
                    <div class="descripcion">
                        {{ miniDescripcion }}
                    </div>
                    <div class="botonDetalle mt-3">
                        <a class="btn btn-outline-info btn-block">Leer mas..</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="contCard">
                <div class="superior">
                    <img alt="Imagen de prueba" src="https://i.blogs.es/5fb48a/webapps/450_1000.jpg" class="imgCard" />
                </div>
                <div class="inferior">
                    <div class="title text-center">
                        <h5>Titulo</h5>
                    </div>
                    <div class="descripcion">
                        {{ miniDescripcion }}
                    </div>
                    <div class="botonDetalle mt-3">
                        <a class="btn btn-outline-info btn-block">Leer mas..</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="contCard">
                <div class="superior">
                    <img alt="Imagen de prueba" src="https://i.blogs.es/5fb48a/webapps/450_1000.jpg" class="imgCard" />
                </div>
                <div class="inferior">
                    <div class="title text-center">
                        <h5>Titulo</h5>
                    </div>
                    <div class="descripcion">
                        {{ miniDescripcion }}
                    </div>
                    <div class="botonDetalle mt-3">
                        <a class="btn btn-outline-info btn-block">Leer mas..</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="contCard">
                <div class="superior">
                    <img alt="Imagen de prueba" src="https://i.blogs.es/5fb48a/webapps/450_1000.jpg" class="imgCard" />
                </div>
                <div class="inferior">
                    <div class="title text-center">
                        <h5>Titulo</h5>
                    </div>
                    <div class="descripcion">
                        {{ miniDescripcion }}
                    </div>
                    <div class="botonDetalle mt-3">
                        <a class="btn btn-outline-info btn-block">Leer mas..</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>