<div class="menu-cont sticky-top">
    <div class="logo">
        <h3> LimonCode </h3>
    </div>
    <div class="menu">
        <a class="item-menu" [routerLink]="['inicio']" routerLinkActive="active" > Inicio </a>
        <a class="item-menu" [routerLink]="['apiconsumo']" routerLinkActive="active" > Api consumo </a>
        <a class="item-menu" [routerLink]="['contacto']" routerLinkActive="active" > Contactanos </a>
        <a class="item-menu" [routerLink]="['registro']" routerLinkActive="active" > Registrate </a>
    </div>
</div>